dazzler.bgn
dazzler.bit
dazzler_bitgen.xwbt
dazzler.bld
dazzler.cfi
dazzler.drc
dazzler.map
dazzler.mcs
dazzler.mrp
dazzler.ncd
dazzler.ngc
dazzler.ngc_xst.xrpt
dazzler.ngd
dazzler_ngdbuild.xrpt
dazzler.ngm
dazzler_par.ncd
dazzler_par.pad
dazzler_par_pad.csv
dazzler_par_pad.txt
dazzler_par.par
dazzler_par.ptwx
dazzler_par.unroutes
dazzler_par.xpi
dazzler.pcf
dazzler.prj
dazzler.prm
dazzler.psr
dazzler.scr
dazzler.srp
dazzler_summary.xml
dazzler_usage.xml
_xmsgs/
netlist.lst
par_usage_statistics.html
top.lso
top_map.xrpt
top_par.xrpt
usage_statistics_webtalk.html
webtalk.log
xlnx_auto_0_xdb/
xst/
__pycache__
