NET "PCLK" PERIOD = 13 ns;
NET "PCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "cfgclk" PERIOD = 20 ns;

NET "P5" CLOCK_DEDICATED_ROUTE = FALSE;
NET "P27" CLOCK_DEDICATED_ROUTE = FALSE;
NET "P29" CLOCK_DEDICATED_ROUTE = FALSE;

NET "CLK" LOC="A13" | IOSTANDARD="LVTTL";
NET "TMDS2_N" LOC="T9" | IOSTANDARD="TMDS_33";
NET "TMDS2_P" LOC="R9" | IOSTANDARD="TMDS_33";
NET "TMDS1_N" LOC="T8" | IOSTANDARD="TMDS_33";
NET "TMDS1_P" LOC="P8" | IOSTANDARD="TMDS_33";
NET "TMDS0_N" LOC="T7" | IOSTANDARD="TMDS_33";
NET "TMDS0_P" LOC="R7" | IOSTANDARD="TMDS_33";
NET "TMDS_CLK_N" LOC="T6" | IOSTANDARD="TMDS_33";
NET "TMDS_CLK_P" LOC="P6" | IOSTANDARD="TMDS_33";
NET "P1" LOC="N16" | IOSTANDARD="LVTTL";
NET "P2" LOC="M16" | IOSTANDARD="LVTTL";
NET "P3" LOC="M15" | IOSTANDARD="LVTTL";
NET "P4" LOC="M14" | IOSTANDARD="LVTTL";
NET "P5" LOC="L16" | IOSTANDARD="LVTTL";
NET "P6" LOC="K16" | IOSTANDARD="LVTTL";
NET "P7" LOC="K15" | IOSTANDARD="LVTTL";
NET "P8" LOC="E15" | IOSTANDARD="LVTTL";
NET "P9" LOC="D16" | IOSTANDARD="LVTTL";
NET "P10" LOC="C16" | IOSTANDARD="LVTTL";
NET "P11" LOC="C15" | IOSTANDARD="LVTTL";
NET "P12" LOC="B16" | IOSTANDARD="LVTTL";
NET "P13" LOC="B15" | IOSTANDARD="LVTTL";
NET "P14" LOC="B14" | IOSTANDARD="LVTTL";
NET "P15" LOC="A12" | IOSTANDARD="LVTTL";
NET "P16" LOC="A11" | IOSTANDARD="LVTTL";
NET "P17" LOC="C11" | IOSTANDARD="LVTTL";
NET "P18" LOC="A10" | IOSTANDARD="LVTTL";
NET "P19" LOC="A9" | IOSTANDARD="LVTTL";
NET "P20" LOC="C9" | IOSTANDARD="LVTTL";
NET "P21" LOC="A8" | IOSTANDARD="LVTTL";
NET "P22" LOC="A7" | IOSTANDARD="LVTTL";
NET "P23" LOC="C7" | IOSTANDARD="LVTTL";
NET "P24" LOC="A6" | IOSTANDARD="LVTTL";
NET "P25" LOC="B6" | IOSTANDARD="LVTTL";
NET "P26" LOC="C6" | IOSTANDARD="LVTTL";
NET "P27" LOC="A5" | IOSTANDARD="LVTTL";
NET "P28" LOC="A4" | IOSTANDARD="LVTTL";
NET "P29" LOC="C4" | IOSTANDARD="LVTTL";
NET "E_PD" LOC="A2" | IOSTANDARD="LVTTL";
# NET "E_INT" LOC="A3" | IOSTANDARD="LVTTL";
NET "E_IO3" LOC="B1" | IOSTANDARD="LVTTL";
NET "E_IO2" LOC="B2" | IOSTANDARD="LVTTL";
NET "E_CS" LOC="B3" | IOSTANDARD="LVTTL";
NET "E_MOSI" LOC="C1" | IOSTANDARD="LVTTL";
NET "E_MISO" LOC="C2" | IOSTANDARD="LVTTL";
NET "E_SCK" LOC="D1" | IOSTANDARD="LVTTL";
NET "R0" LOC="D3" | IOSTANDARD="LVTTL";
NET "R1" LOC="E1" | IOSTANDARD="LVTTL";
NET "R2" LOC="E2" | IOSTANDARD="LVTTL";
NET "R3" LOC="E3" | IOSTANDARD="LVTTL";
NET "R4" LOC="F1" | IOSTANDARD="LVTTL";
NET "R5" LOC="F2" | IOSTANDARD="LVTTL";
NET "R6" LOC="G1" | IOSTANDARD="LVTTL";
NET "R7" LOC="G3" | IOSTANDARD="LVTTL";
NET "G0" LOC="H1" | IOSTANDARD="LVTTL";
NET "G1" LOC="H2" | IOSTANDARD="LVTTL";
NET "G2" LOC="J1" | IOSTANDARD="LVTTL";
NET "G3" LOC="J3" | IOSTANDARD="LVTTL";
NET "G4" LOC="K3" | IOSTANDARD="LVTTL";
NET "G5" LOC="K1" | IOSTANDARD="LVTTL";
NET "G6" LOC="K2" | IOSTANDARD="LVTTL";
NET "G7" LOC="L1" | IOSTANDARD="LVTTL";
NET "B0" LOC="L3" | IOSTANDARD="LVTTL";
NET "B1" LOC="M3" | IOSTANDARD="LVTTL";
NET "B2" LOC="M1" | IOSTANDARD="LVTTL";
NET "B3" LOC="M2" | IOSTANDARD="LVTTL";
NET "B4" LOC="N1" | IOSTANDARD="LVTTL";
NET "B5" LOC="N3" | IOSTANDARD="LVTTL";
NET "B6" LOC="P1" | IOSTANDARD="LVTTL";
NET "B7" LOC="P2" | IOSTANDARD="LVTTL";
NET "PCLK" LOC="R2" | IOSTANDARD="LVTTL";
NET "HSYNC" LOC="R1" | IOSTANDARD="LVTTL";
NET "VSYNC" LOC="T4" | IOSTANDARD="LVTTL";
NET "DE" LOC="T5" | IOSTANDARD="LVTTL";
NET "AUDIO" LOC="R5" | IOSTANDARD="LVTTL";
NET "X1" LOC="P5" | IOSTANDARD="LVTTL";
NET "CS" LOC="T3" | IOSTANDARD="LVTTL";
NET "IO3" LOC="P4" | IOSTANDARD="LVTTL";
NET "IO2" LOC="N5" | IOSTANDARD="LVTTL";
NET "MISO" LOC="P10" | IOSTANDARD="LVTTL";
NET "SCK" LOC="R11" | IOSTANDARD="LVTTL";
NET "MOSI" LOC="T10" | IOSTANDARD="LVTTL";
NET "P8" PULLUP;
NET "P10" PULLUP;
NET "P11" PULLUP;
NET "P13" PULLUP;
NET "P25" PULLUP;
NET "P1" PULLUP;
NET "P22" PULLUP;
